<!DOCTYPE html>
<html>
<head>
	<title>Update</title>
</head>
<body>
	<h1>Welcome to r-tech solutions</h1>
	<form action="/update/<%=data.id%>" method="POST">
		<label>First name:	</label>
		<input type="text" name="fname" value="<%=data.first_name%>">
		<br>

		<label>Last name:	</label>
		<input type="text" name="lname" value="<%=data.last_name%>">
		<br>
	
		<input type="submit" name="">
	</form>

</body>
</html>
</html>