<!DOCTYPE html>
<html>
<head>
	<title>Insert</title>
</head>
<body>
	<h1>Welcome to r-tech solutions</h1>
	<form action="/store/" method="POST">
		<label>First name:	</label>
		<input type="text" name="fname">
		<br>

		<label>Last name:	</label>
		<input type="text" name="lname">
		<br>
	
		<input type="submit" name="">
	</form>

</body>
</html>
</html>